[package]
name = "nodex"
version = "1.2.3"
authors = ["NodeX Authors <>"]
edition = "2018"
license-file = "LICENSE"
description = "Automate device security provisioning with edge intelligence."
homepage = "https://nodecross.io"
documentation = "https://docs.nodecross.io"
repository = "https://github.com/nodecross/nodex"
readme = "README.md"
keywords = ["iot", "embedded", "root-of-trust", "did"]
categories = ["embedded", "cryptography"]
build = "build.rs"

[[bin]]
name = "nodex-agent"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["std"]
std = []
alloc = []

[dependencies]
data-encoding = { version = "2.3.2" }
serde = { version = "1.0.131", features = ["derive"] }
serde_json = { version = "1.0.71" }
serde_jcs = { version = "0.1.0" }
hex = { version = "0.4.3" }
ibig = { version = "0.3.5" }
arrayref = { version = "0.3.6" }
libloading = { version = "0.7.4" }

tokio = { version = "1.25.0", features = ["full"] }
chrono = { version = "0.4" }
async-trait = { version = "0.1.51" }

hdwallet = { version = "0.3.1" }

base64 = { version = "0.21.0" }
digest = { version = "0.10.3" }
sha2 = { version = "0.10.2" }
k256 = { version = "0.10.4", features = [
  "ecdh",
  "ecdsa",
  "sha256",
  "keccak256",
  "serde",
] }
hmac = { version = "0.12.1" }
scrypt = { version = "0.11.0", features = ["simple"] }
aes-gcm-siv = { git = "https://github.com/RustCrypto/AEADs.git", tag = "aes-gcm-siv-v0.11.0-pre" }
getrandom = { version = "0.2" }

didcomm-rs = { git = "https://github.com/nodecross/didcomm-rs.git", tag = "v0.8.0" }
x25519-dalek = { version = "1.2.0" }

reqwest = { version = "0.11", features = [
  "json",
  "rustls-tls",
], default-features = false }
actix = { version = "0.13.0" }
actix-web = { version = "4.3.0" }
actix-web-actors = { version = "4.2.0" }
actix-rt = { version = "2.7.0" }
qstring = { version = "0.7.2" }

colored = { version = "2" }
log = { version = "0.4.0" }
env_logger = { version = "0.10.0" }

home-config = { version = "0.6.0", features = ["json", "yaml", "toml"] }
clap = { version = "4.0.18", features = ["derive", "cargo"] }

dirs = { version = "5.0.0" }
rumqttc = { version = "0.20.0" }
cuid = { version = "1.3.1" }
shadow-rs = "0.21.0"
dotenv = "0.15.0"
mac_address = "1.1.5"
zip-extract = "0.1.3"

[dev-dependencies]
rstest = { version = "0.17.0" }

[build-dependencies]
shadow-rs = "0.21.0"

[profile.dev]
panic = "abort"
debug = true

[profile.test]
panic = "abort"
opt-level = 3
debug = true

[profile.release]
panic = "abort"
strip = true
