name: default-pipeline

on:
  push:
    branches-ignore: [ main ]
  pull_request:
    types: [ opened, synchronize, reopened ]

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
    - name: (checkout) source code
      uses: actions/checkout@v2
    - name: (run) prepare
      uses: ./.github/actions/prepare
      with:
        github-token: ${{ env.GITHUB_TOKEN }}
        cargo-registry-token: ${{ env.CARGO_REGISTRY_TOKEN }}

  build:
    runs-on: ubuntu-latest
    needs: [ prepare ]

    steps:
    - name: (checkout) source code
      uses: actions/checkout@v2
    - name: (run) build
      uses: ./.github/actions/build
      with:
        github-token: ${{ env.GITHUB_TOKEN }}
        cargo-registry-token: ${{ env.CARGO_REGISTRY_TOKEN }}

  test:
    runs-on: ubuntu-latest
    needs: [ prepare ]

    steps:
    - name: (checkout) source code
      uses: actions/checkout@v2
    - name: (run) test
      uses: ./.github/actions/test
      with:
        github-token: ${{ env.GITHUB_TOKEN }}
        cargo-registry-token: ${{ env.CARGO_REGISTRY_TOKEN }}
